*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FE6902;
    width: 100%;
    box-shadow: 0 5px 3px -3px #00000030;
}

/*LAYOUT CLASS*/

.container{
    width: 75%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100%/3);
}

.col-50{
    width: 50%;
}

/*PAGE STYLES*/
.nav-menu{
    padding: 20px;
}

.content{
    margin: 40px 10px;
}

.content-footer{
    background-color: black;
    border: 1px solid white;
    height: 100px;
}
.img-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-end{
    text-align: end;
}
.label{
    padding: 10px;
    color: #fff;
}
.bg-red{
    background-color: #FE0000;
}
.bg-green{
    background-color: #008104;
}

/*HEADER*/
.nav-menu li{
    display: inline-block;
    list-style: none;
    font-size: 12.5px;
}

.nav-menu a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.logo{
    width: 25%;
}
.icons-nav{
    color: #fff;
}

/*MAIN*/
.content img{
    width: 100%;
}